html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: none;
  text-align: center;
  font-family: lato, system-ui, sans-serif;
}

.background {
  min-height: 100%;
  width: 100%;
  background-color: #0a0a23;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  border: 1px solid gray;
  padding: 1rem;
  background-color: #1b1b32;
}

label {
  display: block;
}

input,
select {
  width: 15rem;
  padding: 0.2rem;
}

p {
  color: greenyellow;
}
